* {
    font-family: 'Lato', sans-serif;
    
}

body {
    font-size: 20px;
    font-family: monospace;
    background-color: #1b1b1b;
    color: white;
}

#jsLogo {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30px;
    left: 30px;
}

#instructions {
    text-align: center;

}

p {
    margin-bottom: 0;
}

#container{
    padding: 20px;
    margin : 20px auto;
    background-color: white;
    max-width: 90%;
   background-color: #1b1b1b;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#choices, #timer {
    width: 48%;
}

#timer {
    text-align: center;
}

#choices {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

#start{
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    color :white ;   
}

#start:hover{
    color:#8a0303;
}

#question{
    width:100%;
    text-align: center;
}

#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    color: white;
}

.choice{
    text-align: center;
    border : 1px solid #8a0303 ;
    color: white;
    border-radius: 5px;
    padding : 5px;
    margin: 10px 0;
    cursor: pointer;
    
    
}

.choice:hover{
    border : 1px solid #8a0303 ;
    font-weight: bold;
    color:#8a0303 ;
}

#counter{
    font-size: 3em;
}

#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    margin-left : 25px;
}

#scoreContainer{
    margin : 20px auto;
    background-color: #1b1b1b;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: #8a0303 0px 5px 15px 0px;
    position: relative;
    display: none;
}

#scoreContainer p{
    color: white;
    display: block;
    top:130px;
    left:325px;
    font-weight: bold;
    text-align: center;
}

#highscores {
    color: white;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;

    

}
#highscores:hover{
    color:#f1db4e;
}










